<p id="notice"><%= notice %></p>

<strong>title:</strong>
<%= @board.title %> <br />

<div class="row">
  <% @board.lists.each do |list| %>
    <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= list.title %></h3>
      </div>
      <div class="panel-body">
        body <br />
      </div>
    </div>
  </div>
<% end %>
</div>
