.green-label {
  background-color: #34b27d;
}
.yellow-label {
  background-color: #dbdb57;
}
.orange-label {
  background-color: #e09952;
}
.red-label {
  background-color: #cb4d4d;
}
.purple-label {
  background-color: #93c;
}
.blue-label {
  background-color: #4d77cb;
}


.cards {
    list-style: none;
    background-color:#f0f0f0;
    min-height:50px;
    padding: 5px 5px 5px 5px;
    margin: 0px -12px 0px -12px;
    li {
        background-color: #fff;
        padding: 6px 8px 4px;
        margin-bottom: 5px;
        max-width: 300px;
        min-height: 20px;
        cursor: pointer;
        border-radius: 3px;
    }
}

section.boards {
  overflow: auto;
  .board {
    color: #f6f6f6;
    line-height: 22px;
    text-decoration: none;
    font-weight: bold;
    font: 16px "Helvetica Neue",Arial,Helvetica,sans-serif;
    background-color: #256d96;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    height: 100px;
    width: 300px;
    display: inline-block;
    margin-left:20px;
    white-space: normal;
  }
}
.lists-sortable-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}
section.board {
    padding-left: 10px;
    .memberships {
      .member {
        padding-left: 3px;
        display: inline-block;
        .popup {
          position: absolute;
          display: none;
          background-color: #fff;
          max-height: 399px;
          height: 170px;
          width: 300px;
          border-radius: 3px;
          border-bottom-color: #c2c2c2;
          border: 1px solid #dbdbdb;
          .current {
            color:gray;
          }
        }
      }
      .member:hover > .popup {
        display: block;
          position: absolute;
      }

    }
    .lists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        min-height: 400px;
        height: 100%;
        .list {
            background: #f0f0f0;
            width: 260px;
            flex-shrink:0;
            overflow-y:auto;
            min-height: 100px;
            max-height: 91%;
            border-radius: 3px;
            padding: 4px 3px 3px;
            margin: 0 5px;
            ul {
                list-style: none;
                background-color: #f0f0f0;
                min-height: 50px;
                padding: 5px 5px 5px 5px;
            }
            li {
                background-color: #fff;
                padding: 6px 8px 4px;
                margin-bottom: 5px;
                max-width: 300px;
                min-height: 20px;
                cursor: pointer;
                border-radius: 3px;
                .labels {
                  .label {
                    border-radius: 0;
                    float: left;
                    height: 4px;
                    margin-bottom: 1px;
                    padding: 0;
                    width: 40px;
                    line-height: 100px;
                    color: #fff;
                    margin-right: 5px;
                  }
                  .green {
                    background-color:#34b27d;
                  }
                }
              }
              header {
              cursor: pointer;
            }
            .title {
              clear: both;
              padding: 5px 0px 7px 0px;
            }
          }
    }
    header {
        font-size: 18px;
        cursor: default;
        font-weight: 700;
        line-height: 30px;
    }
    .add-card {
        textarea {
          width: 100%;
          border: none;
          resize: vertical;
        }
        padding: 4px 3px 3px;
        margin: 0 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }


}


section.card {
  h1 {
      font-size: 18px;
  }

  h2 {
      font-size: 16px;
  }

  h3 {
      font-size: 15px;
  }

  h4 {
      font-size: 14px;
  }

  h5 {
      font-size: 14px;
  }

  h6 {
      font-size: 14px;
  }

  textarea {
      resize: vertical;
      width: 100%;
  }


  font-size: 14px;
  position: fixed;
  overflow-y: auto;
  z-index: 10;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  z-index: 1000;
  background-color: rgba(0,0,0,.6);
  .title textarea {
    font-weight: bold;
    font-size: 18px;
    min-height: 50px;
  }

  .detail {
    header {
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
    }
    width: 722px;
    margin: 100px auto;
    background: #f0f0f0;
    border:1px solid #000;
    padding:15px;
    border-radius: 3px;
  }

  .menu {
    float: right;
    .label_form {
      position: absolute;
      ul {
        list-style: none;
      }
      li {
        cursor: pointer;
        border-radius: 3px;
        a {
          display: block;
          color: #eee;
          cursor: pointer;
          margin: 0 24px 3px 0;
          min-height: 18px;
          padding: 8px;
          position: relative;
          -webkit-transition: margin-right .1s;
          transition: margin-right .1s;
          -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
        }
      }
    }
  }
  .module {
    width: 521px;
  }

  .description {
      textarea {
          min-height:156px;
      }
      a.edit-description {
          text-decoration: none;
          color: inherit;
          cursor: pointer;
      }
  }

  .comment {
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding: 8px 0 8px 38px;
    .avatar {
      height: 30px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 30px;
      img {
        height: 30px;
        width: 30px;
      }
    }
    .author {
      font-weight: 700;
      text-decoration: none;
      color: #000;
    }
    .text {
      background-color: #fff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.23);
      box-shadow: 0 1px 2px rgba(0,0,0,.23);
      clear: both;
      cursor: pointer;
      display: block;
      margin: 4px 2px 5px 0;
      overflow: hidden;
      padding: 9px 11px;
      text-overflow: ellipsis;
    }
    .date {
      color: #939393;
      float: left;
      padding: 0 4px 0 4px;
      font-size: 12px;
    }
    .actions {
      color: #939393;
      font-size: 12px;
      a {
        text-decoration: underline;
        cursor: pointer;
        color: inherit;
      }
    }
  }

}
