.green-label {
  background-color: #34b27d;
}
.yellow-label {
  background-color: #dbdb57;
}
.orange-label {
  background-color: #e09952;
}
.red-label {
  background-color: #cb4d4d;
}
.purple-label {
  background-color: #93c;
}
.blue-label {
  background-color: #4d77cb;
}

.clear {
  clear: both;
}

.cards {
    list-style: none;
    background-color:#f0f0f0;
    min-height:50px;
    padding: 5px 5px 5px 5px;
    margin: 0px -12px 0px -12px;
    li {
        background-color: #fff;
        padding: 6px 8px 4px;
        margin-bottom: 5px;
        max-width: 300px;
        min-height: 20px;
        cursor: pointer;
        border-radius: 3px;
    }
}

section.boards {
  overflow: auto;
  .board {
    color: #f6f6f6;
    line-height: 22px;
    text-decoration: none;
    font-weight: bold;
    font: 16px "Helvetica Neue",Arial,Helvetica,sans-serif;
    background-color: #256d96;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    height: 100px;
    width: 300px;
    display: inline-block;
    margin-left:20px;
    white-space: normal;
  }
}
.lists-sortable-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}
section.board {
    padding-left: 10px;
    .memberships {
      .member {
        padding-left: 3px;
        display: inline-block;
        .popup {
          position: absolute;
          display: none;
          background-color: #fff;
          max-height: 399px;
          height: 170px;
          width: 300px;
          border-radius: 3px;
          border-bottom-color: #c2c2c2;
          border: 1px solid #dbdbdb;
          .current {
            color:gray;
          }
        }
      }
      .member:hover > .popup {
        display: block;
          position: absolute;
      }

    }
    .lists {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        min-height: 400px;
        height: 100%;
        .list {
            background: #f0f0f0;
            width: 260px;
            flex-shrink:0;
            overflow-y:auto;
            min-height: 100px;
            max-height: 91%;
            border-radius: 3px;
            padding: 4px 3px 3px;
            margin: 0 5px;
            ul {
                list-style: none;
                background-color: #f0f0f0;
                min-height: 50px;
                padding: 5px 5px 5px 5px;
            }
            li {
                background-color: #fff;
                padding: 6px 8px 4px;
                margin-bottom: 5px;
                max-width: 300px;
                min-height: 20px;
                cursor: pointer;
                border-radius: 3px;
                .labels {
                  .label {
                    border-radius: 0;
                    float: left;
                    height: 4px;
                    margin-bottom: 1px;
                    padding: 0;
                    width: 40px;
                    line-height: 100px;
                    color: #fff;
                    margin-right: 5px;
                  }
                  .green {
                    background-color:#34b27d;
                  }
                }
              }
              header {
              cursor: pointer;
            }
            .title {
              clear: both;
              padding: 5px 0px 7px 0px;
            }
            .members {
              float: right;
              text-align: right;
            }
            .badges {
              float: left;
            }
          }
    }
    header {
        font-size: 18px;
        cursor: default;
        font-weight: 700;
        line-height: 30px;
    }
    .add-card {
        textarea {
          width: 100%;
          border: none;
          resize: vertical;
        }
        padding: 4px 3px 3px;
        margin: 0 5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }


}
