$bgDefault      : #256d96;
$bgDefaultDark  : #20658e;

#newBoardPopup {
    position:absolute;
    width:300px;
}

.dashboard-boards {
    color:#f6f6f6;
    line-height: 22px;
    text-decoration:none;
    font: 16px "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight:bold;
    &:hover {
        text-decoration:none;
        background-color: $bgDefaultDark;
    }
    div {
        background-color: $bgDefault;
        height:100px;
        padding:10px 10px 10px 10px;
        margin-top:10px;
    }
}
